
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    color: #ffffff;
     font-family:cursive;
    background-color: #000000; 
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
     padding-left:22px;
     font-size: 3rem;
}
h1 span{
 color: cyan;

}


h2{
    color: #ffffff;
    font-family:cursive;
     
    background-color:#8639c1;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
    padding:10px;
    font-size: 27px;
    font-weight: 400;
    
    
}
 
h3 {
    color:rgb(48, 4, 48);
    text-align: right;
    text-decoration: underline;
    font-family: cursive;
    background-color: rgb(160 203 243);
    font-size:20px;
    padding-right:22px;
    font-weight: 500;
    padding-bottom:8px;
     
}

